<h1>Pokemon</h1>
<div id="sortedList">
    <div class="row">
        <div class="small-1 columns">
            <label for="search" class="right inline">Search</label>
        </div>
        <div class="small-3 columns">
            <input type="text" id="search" class="search small-6"/>
        </div>
        <span class="sort button small" data-sort="name">Sort by Name</span>
    </div>
    <hr>
    <ul class="inline-list list">
        <%= render partial: 'pokemon', locals: {pokemon: @pokemon, liclass:'large button'} %>
    </ul>
</div>
