<table>
  <thead>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @pokemon.each do |p| %>
      <tr>
        <td><%= p["name"] %></td>
        <td><%= link_to "view", pokemon_path(poke_path(p["resource_uri"]))%></td>
      </tr>
    <% end %>
  </tbody>
</table>
