<ul class="pricing-table">
    <li class="title"><%= @ability["name"] %></li>
    <li class="description">
        Description: <%= @ability["description"].humanize %>
    </li>
</ul>
<%= link_to 'Back', :back %>
